/*Main Style*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.section__title {
  padding-bottom: 1rem;
}
.section__title .section__text h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #413e66;
}
.section__title .section__line {
  padding-top: 0.6rem;
}
.section__title .section__line .line__img {
  width: 300px;
  margin: auto;
}
.section__title .section__line .line__img img {
  width: 100%;
}

/*-------------------------------
Header Section
---------------------------------*/
.header {
  width: 100%;
  height: 90vh;
  background: #f5f8fd url(../img/hero-bg.jpg) center top no-repeat;
  background-size: cover;
}
.header .container {
  width: 100%;
  height: 100%;
}
.header .menu {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo h1 a {
  font-size: 2rem;
  color: #413e66;
}
.header__logo h1 a:hover {
  color: #7f56fd;
}
.header__social ul {
  list-style: none;
  display: flex;
}
.header__social ul li {
  padding: 0 10px;
}
.header__social ul li a {
  width: 35px;
  height: 35px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: #413e66;
}
.header__social ul li a:hover {
  background: #6d41f1;
}
.header__social ul li a i {
  color: #fff;
  font-size: 1rem;
}
.header__menu {
  list-style: none;
}
.header .hero {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .hero__details {
  width: 60%;
  text-align: center;
}
.header .hero__details h2 {
  font-size: 2.5rem;
  color: #7f56fd;
  padding-bottom: 1rem;
}
.header .hero__details p {
  font-size: 1.5rem;
  color: #413e66;
}
.header .hero__image {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .hero__image .img {
  background: #7f56fd;
  padding: 20px;
  border-radius: 80px 50px 60px 30px;
  transform: rotate(30deg);
}
.header .hero__image img {
  max-width: 200px;
  border-radius: 80px 70px 70px 50px;
  transform: rotate(-30deg);
}

/*-------------------------------
About Section
---------------------------------*/
.about {
  padding: 2.5rem 0;
}
.about__details {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 3rem;
  align-items: center;
}
.about__image .img {
  width: 250px;
  margin: auto;
}
.about__image img {
  width: 100%;
  border-radius: 80px 70px 70px 50px;
  border: 5px solid #7f56fd;
}
.about__text .text p {
  text-align: justify;
  letter-spacing: 0.1px;
}
.about__text .text p span {
  font-weight: bold;
}
.about__text .button {
  padding-top: 1rem;
}
.about__text .button a {
  display: inline-block;
  background: transparent;
  padding: 10px 15px;
  border: 2px solid #7f56fd;
  transition: 0.5s;
  font-size: 1rem;
  color: #7f56fd;
}
.about__text .button a.cv {
  margin-right: 20px;
  margin-bottom: 10px;
}
.about__text .button a:hover {
  background-color: #7f56fd;
  color: #fff;
}

/*-------------------------------
Services Section
---------------------------------*/
.services {
  padding: 2.5rem 0;
  background: #f8f9fa;
}
.services__list {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-gap: 2.5rem;
}
.services__item {
  text-align: center;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  border-radius: 10px;
  padding: 30px 20px;
}
.services__item:hover {
  transform: translateY(-10px);
}
.services__item .icon {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.services__item .icon i {
  font-size: 1.8rem;
}
.services__item .title {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #7f56fd;
}
.services__item .description {
  color: #413e66;
  font-size: 1rem;
}

/*-------------------------------
Skill Section
---------------------------------*/
.skill {
  padding: 2.5rem 0;
}
.skill__list {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-gap: 2.5rem;
}
.skill__item {
  text-align: center;
  background: #f8f9fa;
  border-radius: 10px;
  padding: 20px 10px;
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.skill__item:hover {
  transform: translateY(-10px);
}
.skill__item img {
  width: 50px;
  border-radius: 100%;
  margin-bottom: 10px;
}
.skill__item p {
  font-weight: 600;
  font-size: 1.2rem;
}

/*-------------------------------
Portfolio Section
---------------------------------*/
.portfolio {
  padding: 2.5rem 0;
  background: #f8f9fa;
}
.portfolio__list {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-gap: 2.5rem;
}
.portfolio__item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.portfolio__item img {
  width: 100%;
  transition: 0.5s;
}
.portfolio__item:hover img {
  transform: scale(1.2);
}
.portfolio__item:hover .portfolio__view {
  display: flex;
  transform: scale(1);
}
.portfolio__view {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  display: none;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.3);
}
.portfolio__view p {
  font-size: 0.8rem;
  text-align: center;
  padding: 10px;
  color: #fff;
  background: #7f56fd;
}
.portfolio__view p:hover {
  background: #6d41f1;
}

/*-------------------------------
Contact Section
---------------------------------*/
.contact {
  padding: 2.5rem 0;
}
.contact__form .form__group {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
.contact__form input {
  margin-bottom: 10px;
}
.contact__form input,
.contact__form textarea {
  padding: 12px;
  display: block;
  width: 100%;
  border: 1px solid #bec5d4;
  font-size: 14px;
}
.contact__form input:focus,
.contact__form textarea:focus {
  outline: 0;
  border: 1px solid #a2aabb;
}
.contact__form .submit {
  margin-bottom: 0;
  margin-top: 10px;
  background-color: #7f56fd;
  color: #fff;
  border: 0;
}
.contact__form .submit:hover {
  background-color: #6d41f1;
  border: 0;
}

/*-------------------------------
Footer Section
---------------------------------*/
.footer {
  background: #413e66;
  padding: 1.5em 0;
}
.footer__social {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3137254902);
}
.footer__social ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.footer__social ul li {
  padding: 0 10px;
}
.footer__social ul li a {
  width: 35px;
  height: 35px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: #1bb1dc;
}
.footer__social ul li a:hover {
  background: #0a98c0;
}
.footer__social ul li a i {
  color: #fff;
  font-size: 1rem;
}
.footer__text {
  padding-top: 1rem;
}
.footer__text p,
.footer__text a {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  text-align: center;
  letter-spacing: 1px;
}
.footer__text a {
  font-weight: 600;
}
.footer__text a:hover {
  color: #1bb1dc;
}

/*Responsive Style*/
/*-------------------------------
Min With
---------------------------------*/
@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .header .nav__toggler {
    display: none;
  }
  .header__social {
    display: none;
  }
  .header__menu {
    display: flex;
  }
  .header__menu .item a {
    display: block;
    padding: 10px 15px;
    letter-spacing: 1px;
    color: #413e66;
    font-weight: 600;
    transition: 0.5s;
  }
  .header__menu .item a:hover {
    color: #6d41f1;
  }
  .header__menu .item.active a {
    color: #6d41f1;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
/*-------------------------------
Max Width
---------------------------------*/
@media only screen and (max-width: 991px) {
  .header__menu .item a {
    padding: 10px 10px;
  }
  .services__list {
    grid-template-columns: 6fr 6fr;
  }
  .skill__list {
    grid-template-columns: 4fr 4fr 4fr;
  }
  .portfolio__list {
    grid-template-columns: 6fr 6fr;
    grid-gap: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .header__social {
    display: block;
  }
  .header__nav {
    display: none;
  }
  .header .hero {
    flex-direction: column;
  }
  .header .hero__details {
    order: 2;
    width: 100%;
  }
  .header .hero__image {
    order: 1;
    width: 100%;
    padding-top: 1rem;
  }
  .header .hero__image .img {
    margin: auto;
    padding: 10px;
    border-radius: 80px 50px 60px 30px;
    transform: rotate(30deg);
  }
  .header .hero__image img {
    max-width: 160px;
    border-radius: 80px 70px 70px 50px;
    transform: rotate(-30deg);
  }
  .about__details {
    grid-template-columns: auto;
    grid-gap: 1.5rem;
  }
  .services__list {
    grid-template-columns: 80%;
    justify-content: center;
  }
  .skill__list {
    grid-template-columns: 6fr 6fr;
  }
  .portfolio__list {
    grid-template-columns: 65%;
    justify-content: center;
    grid-gap: 30px;
  }
  .contact__form .form__group {
    grid-template-columns: auto;
    grid-gap: 0;
  }
}
@media only screen and (max-width: 576px) {
  .skill__list {
    grid-template-columns: 80%;
    justify-content: center;
  }
}
@media only screen and (max-width: 480px) {
  .header {
    padding: 1rem 0;
    height: inherit;
  }
  .header .menu {
    flex-direction: column;
  }
  .header__logo {
    order: 2;
  }
  .header__social {
    padding-bottom: 0.5rem;
    order: 1;
  }
  .header__social ul li {
    padding: 0 10px;
  }
  .header__social ul li a {
    width: 25px;
    height: 25px;
    background: inherit;
  }
  .header__social ul li a:hover {
    background: inherit;
  }
  .header__social ul li a:hover i {
    color: #7f56fd;
  }
  .header__social ul li a i {
    font-size: 1rem;
    color: #413e66;
  }
}